@using Microsoft.AspNetCore.Identity
@using LexiconMvc.Models

@inject SignInManager<ApplicationUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
}


