@model PersonViewModel

<h3> Person Details Partial View</h3>
<div class="row">
    <div class="col-sm-2"><p>@Model.Id</p></div>
    <div class="col-sm-2"><p>@Model.Name</p></div>
    <div class="col-sm-2"><p>@Model.City</p></div>
    <div class="col-sm-2"><p>@Model.PhoneNumber</p></div>
</div>
