@model PeopleViewModel

@{
    ViewData["Title"] = "Lexicon Assignment Week 9 Person";
}

<h2>Peoples</h2>
<form asp-action="Search" asp-controller="Person" method="post">

    <label asp-for="SearchPhrase"></label>
    <input asp-for="SearchPhrase" />

    <input type="submit" />
</form>

<form asp-action="Save" asp-controller="Person" method="post">

    <label asp-for="CreatePersonViewModel.Name"></label>
    <input asp-for="CreatePersonViewModel.Name" />

    <label asp-for="CreatePersonViewModel.City"></label>
    <input asp-for="CreatePersonViewModel.City" />

    <label asp-for="CreatePersonViewModel.PhoneNumber"></label>
    <input asp-for="CreatePersonViewModel.PhoneNumber" />

    <input type="submit" />


</form>


<h3>Partial View</h3>

<div class="row">
    <div class="col-sm-2"><b>Name</b></div>
    <div class="col-sm-2"><b>City</b></div>
    <div class="col-sm-2"><b>PhoneNumber</b></div>
    <div class="col-sm-2"><b>Delete</b></div>
</div>


@foreach (var person in Model.Persons)
{
    <partial name="PersonPartialView" , model="person" />
}

